body{
    background-color: black;
    overflow-x: hidden;
}
#first{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
#email{
    padding: 10px;
    padding-right: 150px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
}
pre{
    display: inline;
    font-family: inherit;
    font-size: inherit;
}   
#getstarted{
    padding: 10px;
    padding-right: 30px;
    font-size: small;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
#signin{
    position: relative;
    left: 1300px;
    bottom: 20px;   
    background-color: red;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 2px ;
    border-radius: 5px;
    cursor: pointer;
}
#language{
    position: relative;
    left: 1100px;
    bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}
#logo{
    position: relative;
    right: 70px;
    max-height: 50px;
    /* max-width: 150px; */
}
#curvedLine {
    width: 1800px;
    border: 5px solid red;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
#topBackground{
    background-image:url(Netflixbackground.jpg);
}
#bottombackground{
    color: white;
}
#TrendingNow{
    font-size: 30px;
    position: relative;
    left: 200px; 
}
.scroll-container {
    position: relative;
    left: 200px;
    max-width: 1100px; 
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    scroll-behavior: smooth;
}
.image-container {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    gap: 10px; 
    padding: 10px;
    scroll-behavior: smooth; 
}
.image-container img {
    width: 200px; 
    height: auto;
    border-radius: 10px;
}
.image-container::-webkit-scrollbar {
    display: none;
}
#plan{
    color: white;
    position: relative;
    left: 180px;
    font-size: 30px ;
}
.tables{
    display: flex;
    gap: 20px;
}
#table{
    color: white;
    border: 2px solid transparent;
    padding:10px;
    padding-right: 40px;
    border-radius: 7px;
    width: fit-content;
    position: relative;
    left: 180px;
    background-color: rgba(4, 4, 79, 0.903);
    cursor: pointer;
}
.reasons{
    display: flex;
    gap: 20px;
}
#reason{
    color: white;
    border: 2px solid transparent;
    padding:10px;
    padding-right: 40px;
    border-radius: 7px;
    width: fit-content;
    position: relative;
    left: 180px;
    background-color: rgb(41, 38, 38);  
    cursor: pointer;
}
.questions{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#question1{
    position: relative;
    left: 180px;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    width: fit-content;
    background-color: rgb(41, 38, 38);  
    cursor: pointer;
}
#conclusion{
    color: white;
    text-align: center;
}
#mis{
    color: white;
    position: relative;
    left: 180px;
}
#language2{
    position: relative;
    left: 170px;
    bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}
#last{
    color: white;
    position: relative;
    left: 170px;
}
